body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: chocolate;
}
header{
  background-color: azure;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #ccc;
}
h1 {
  color:crimson;
  font-size: 2.5rem;
}
.grocery-section {
  margin: 20px auto;
  padding: 20px;
  background-color: crimson;
  border: 2px solid #ccc;
  width:90%
  max: width 800px;
  border-radius: 8px;
}
.grocery-section h2 {
  background-color: chocolate;
  padding: 10px;
  border-radius: 4px;
  font-size: 1.8rem;
  text-align: center;
}
.grocery-category {
  background-color: bisque;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}
.grocery-category h3 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
ol {
  padding-left: 20px;
}
